.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: #000;
    border-left-color: #000;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
